body {
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    backface-visibility: visible;
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    color:thistle;
    backdrop-filter: blur(1px);
    margin: 0px;
    background-blend-mode: multiply;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
}

.header {
    /* margin: 80px 220px 80px 250px; */
    margin:80px auto 80px 290px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    mix-blend-mode: multiply;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: inline-block;
    width:max-content;
}

.form-table {
    margin: 80px 220px 80px 250px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: multiply;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: inline-block;
    width:fit-content;
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
    margin:80px auto 80px 470px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: inline-block;
    width:max-content;
}

.footer1 {
    text-decoration: underline;
}

.footer2 {
    text-decoration: underline;
}

.btnsubmit {
    background: gray;
    border-radius: 20px;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.btnreset {
    background: gray;
    border-radius: 20px;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

.copyright {
    color: white;
    font-weight: bold;
    margin-top: 37px;
    font-size: 0.80em;
}

